oecddpitypes_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:stf="urn:oecd:ties:dpistf:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:iso="urn:oecd:ties:isodpitypes:v1" targetNamespace="urn:oecd:ties:dpistf:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:import namespace="urn:oecd:ties:isodpitypes:v1" schemaLocation="isodpitypes_v1.0.xsd"/>
	<!-- -->
	<!--+++++++++++++++++++++++  Lánchossz típusuk / String length types ++++++++++++++++++++++++++++++++++++++ -->
	<!-- -->
	<!-- Minimum 1 maximum 10 hosszúságú karakterláncot definiál / Defines a string with minimum length 1 and maximum length of 10 -->
	<xsd:simpleType name="StringMin1Max10_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="hu">Minimum 1 maximum 10 hosszúságú karakterláncot definiál.</xsd:documentation>
			<xsd:documentation xml:lang="en">Defines a string with minimum length 1 and maximum length of 10.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- Minimum 1 maximum 170 hosszúságú karakterláncot definiál / Defines a string with minimum length 1 and maximum length of 170 -->
	<xsd:simpleType name="StringMin1Max170_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Minimum 1 maximum 170 hosszúságú karakterláncot definiál.</xsd:documentation>
			<xsd:documentation xml:lang="en">Defines a string with minimum length 1 and maximum length of 170.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="170"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- Minimum 1 maximum 200 hosszúságú karakterláncot definiál / Defines a string with minimum length 1 and maximum length of 200 -->
	<xsd:simpleType name="StringMin1Max200_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="hu">Minimum 1 maximum 200 hosszúságú karakterláncot definiál.</xsd:documentation>
			<xsd:documentation xml:lang="en">Defines a string with minimum length 1 and maximum length of 200.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- Minimum 0 maximum 200 hosszúságú karakterláncot definiál / Defines a string with minimum length 0 and maximum length of 200 -->
	<xsd:simpleType name="StringMin0Max200_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="hu">Minimum 0 maximum 200 hosszúságú karakterláncot definiál.</xsd:documentation>
			<xsd:documentation xml:lang="en">Defines a string with minimum length 0 and maximum length of 200.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- Minimum 1 maximum 400 hosszúságú karakterláncot definiál / Defines a string with minimum length 1 and maximum length of 400 -->
	<xsd:simpleType name="StringMin1Max400_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="hu">Minimum 1 maximum 400 hosszúságú karakterláncot definiál.</xsd:documentation>
			<xsd:documentation xml:lang="en">Defines a string with minimum length 1 and maximum length of 400.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="400"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- Minimum 1 maximum 4000 hosszúságú karakterláncot definiál / Defines a string with minimum length 1 and maximum length of 4000 -->
	<xsd:simpleType name="StringMin1Max4000_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="hu">Minimum 1 maximum 4000 hosszúságú karakterláncot definiál.</xsd:documentation>
			<xsd:documentation xml:lang="en">Defines a string with minimum length 1 and maximum length of 4000.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- Minimum 1 maximum 4000 hosszúságú karakterláncot definiál, nyelv attribútummal / Defines a string with minimum length 1 and maximum length of 4000, with the Language attribute -->
	<xsd:complexType name="StringMin1Max4000WithLang_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="hu">Minimum 1 maximum 4000 hosszúságú karakterláncot definiál, nyelv attribútummal.</xsd:documentation>
			<xsd:documentation xml:lang="en">Defines a string with minimum length 1 and maximum length of 4000, with the Language attribute.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="stf:StringMin1Max4000_Type">
				<xsd:attribute name="language" type="iso:LanguageCode_Type" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="hu">a használt nyelv</xsd:documentation>
						<xsd:documentation xml:lang="en">Language used</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- -->
	<!--+++++++++++++++++++++++  Újrahasználható egyszerű típusok / Reusable Simple types ++++++++++++++++++++++++++++++++++++++ -->
	<!-- Dokumentum típust jelölő típusok / Document type indicators types -->
	<xsd:simpleType name="OECDDocTypeIndic_EnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="hu">Az elem a kapcsolódó helyesbíthető rekord jellegét jelzi a DPI üzeneten belül. Egy üzenet vagy új rekordokat (OECD1) vagy helyesbítéseket, törlő tételeket (OECD2 és/vagy OECD3) tartalmazhat, a kettő keverékét nem tartalmazhatja. Az újraküldés opciót (OECD0) csak a Platformüzemeltető (PlatformOperator) elemhez kapcsoltan lehet használni, ha a Platformüzemeltető rekord egy korábbi DPI üzenetben már beküldésre került a NAV-hoz. Az újraküldés opció (OECD0) az alábbi esetekben használható:
-	Új rekord: egy Adatszolgáltatási időszak vonatkozásában új Jelentendő értékesítőről (ReportableSeller), vagy új egyéb platformüzemeltetőről (AssumingPlatformOperator) történik adatszolgáltatás, és a PlatformOperator elem korábban már beküldésre került a NAV-hoz, az adott Adatszolgáltatási időszak vonatkozásában;
-	Helyesbítés/törlés: ha a ReportableSeller elemet vagy az AssumingPlatformOperator elemet érinti a helyesbítés vagy törlés, és a helyesbítés magának a PlatformOperator elemnek az adatait nem érinti. A PlatformOperator elem törlése esetén az összes ugyanazon üzenetben szereplő, vagy valamely korábbi üzenetben azonos időszak vonatkozásában hozzá kapcsolódóan beküldött ReportableSeller elemet és AssumingPlatformOperator elemet szintén törölni kell.</xsd:documentation>
			<xsd:documentation xml:lang="en">This element indicates the nature of the respective correctable record in a DPI message. A message can either contain new records (OECD1) or corrections and/or deletions (OECD2 and/or OECD3), but should not contain a mixture of both. The resend option (OECD 0) can only be used for the PlatformOperator element when the Platform Operator element has already been sent. The resend option (OECD0) can be used in the two following cases: 
-	New record: in case new Reportable Seller information or new Assuming Platform Operator information is provided in respect of a Reportable Period and the Platform Operator element has already been sent;
-	Correction/deletion: in case the Reportable Seller element or Assuming Platform Operator element is corrected (or deleted) and the Platform Operator element does not need to be corrected (or deleted). The Platform Operator cannot be deleted without deleting all related Reportable Seller and AssumingPlatformOperator information (either in same message or in previous messages).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OECD0">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">újraküldött rekord</xsd:documentation>
					<xsd:documentation xml:lang="en">Resent Record</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD1">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">új rekord</xsd:documentation>
					<xsd:documentation xml:lang="en">New Record</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD2">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">helyesbített rekord</xsd:documentation>
					<xsd:documentation xml:lang="en">Corrected Record</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD3">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">rekordtörlés</xsd:documentation>
					<xsd:documentation xml:lang="en">Deletion of Record</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD10">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">újraküldött teszt rekord</xsd:documentation>
					<xsd:documentation xml:lang="en">Resent Test Record</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD11">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">új teszt rekord</xsd:documentation>
					<xsd:documentation xml:lang="en">New Test Record</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD12">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">helyesbített teszt rekord</xsd:documentation>
					<xsd:documentation xml:lang="en">Corrected Test Record</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD13">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">teszt rekord törlése</xsd:documentation>
					<xsd:documentation xml:lang="en">Deletion of Test Record</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- Név típusa / Kind of Name -->
	<xsd:simpleType name="OECDNameType_EnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="hu">Ezzel az elemmel jelölhető egy név típusa.</xsd:documentation>
			<xsd:documentation xml:lang="en">This is a qualifier to indicate the type of a particular name.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OECD202">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">magánszemély</xsd:documentation>
					<xsd:documentation xml:lang="en">indiv (individual)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD203">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">álnév</xsd:documentation>
					<xsd:documentation xml:lang="en">alias (alias)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD204">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">becenév</xsd:documentation>
					<xsd:documentation xml:lang="en">nick (nickname)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD205">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">ez alatt a név alatt is ismert</xsd:documentation>
					<xsd:documentation xml:lang="en">aka (also known as)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD206">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">üzleti gyakorlat során használt név</xsd:documentation>
					<xsd:documentation xml:lang="en">dba (doing business as)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD207">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">hivatalos név</xsd:documentation>
					<xsd:documentation xml:lang="en">legal (legal name)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD208">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">születési név</xsd:documentation>
					<xsd:documentation xml:lang="en">atbirth (name at birth)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- A cím jellege / Legal character of the address -->
	<xsd:simpleType name="OECDLegalAddressType_EnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="hu">Ez az adattípus a címhez kapcsolható attribútum, amely a cím jellegét pontosítja (székhely, lakóhely, stb.)</xsd:documentation>
			<xsd:documentation xml:lang="en">This is a datatype for an attribute to an address. It serves to indicate the legal character of that address (registered office, residential etc.)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="OECD301">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">lakóhely vagy üzleti cím</xsd:documentation>
					<xsd:documentation xml:lang="en">residentialOrBusiness</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD302">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">lakóhely</xsd:documentation>
					<xsd:documentation xml:lang="en">residential</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD303">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">üzleti cím</xsd:documentation>
					<xsd:documentation xml:lang="en">business</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD304">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">székhely</xsd:documentation>
					<xsd:documentation xml:lang="en">registeredOffice</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OECD305">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">nem meghatározott</xsd:documentation>
					<xsd:documentation xml:lang="en">unspecified</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!--++++++++++++++++++ Újrahasználható összetett típusok / Reusable Complex types +++++++++++++++++++++++++++++++++++++ -->
	<!-- -->
	<!-- Dokumentum azonosítás: a rekordot azonosító és leíró adatok / Document specification: Data identifying and describing the record -->
	<xsd:complexType name="DocSpec_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="hu">A DocSpec elem azonosítja a küldött DPI üzeneten belüli egyes helyesbíthető rekordokat, és azok jellegét. A rekord a helyesbíthető elemcsoport adatainak halmazát jelenti a DPI üzeneten belül.</xsd:documentation>
			<xsd:documentation xml:lang="en">DocSpec element identifies the particular correctable record within the DPI message being transmitted and its nature. Record means the data within the correctable block of elements in a DPI message.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DocTypeIndic" type="stf:OECDDocTypeIndic_EnumType">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">Az elem a kapcsolódó helyesbíthető rekord jellegét jelzi a DPI üzeneten belül.</xsd:documentation>
					<xsd:documentation xml:lang="en">This element indicates the nature of the respective correctable record in a DPI message.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocRefId" type="stf:StringMin1Max200_Type">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">Az üzenetküldő által a rekordhoz rendelt egyedi azonosító. A DocRefId-nek az Adatszolgáltatási időszak évével kell kezdődni, melyet az adatszolgáltató által meghatározott és rekordonként egyedi azonosító követ.</xsd:documentation>
					<xsd:documentation xml:lang="en">Sender's unique identifier of this record. The DocRefId must start with the year of the Reportable Period, followed by a unique identifier given per record by the reporting entity.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CorrDocRefId" type="stf:StringMin1Max200_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="hu">Helyesbítés esetén a helyesbítéssel érintett korábbi rekord egyedi azonosítója.</xsd:documentation>
					<xsd:documentation xml:lang="en">Reference id of the previously sent record that is being corrected if this is correction.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
